.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.search-bar input {
  border: none;
  flex: 1;
  font-size: 1rem;
  background: transparent;
  outline: none;
  color: #333;
}

.search-bar input::placeholder {
  color: #999;
  font-weight: 400;
}

.search-bar button {
  display: none;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.search-bar input {
  width: 100%;
  flex: 1;
}

.custom-input {
  width: 100%;
}

.close-button {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #999;
  margin-left: 8px;
  margin-right: 4px;
}

.close-button:hover {
  color: #333;
}
